body {
  font-family: Arial, sans-serif;
}

.building {
  text-align: center;
  margin-bottom: 50px;
}

.elevator-system {
  display: flex;
  justify-content: space-around;
}

.elevator-track {
  width: 250px;
  background-color: lightgray;
  border: 1px solid #000;
  position: relative;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
}

.elevator {
  width: 240px;
  height: 235px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px auto;
}

.floor {
  height: 250px;
  display: flex;
  flex-direction: column-reverse;
}

.floor-buttons {
  margin-bottom: 10px;
}

.floor-line {
  width: 100%;
  border-bottom: 1px solid black;
  position: absolute;
  left: 0;
  z-index: 1;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 8px 15px;
  margin: 5px;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}

.seven-segment-display {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 40px;
  height: 75px;
  margin: auto;
}

.segment-horizontal {
  width: 20px;
  height: 10px;
  background-color: #ccc;
  border-radius: 3px;
  margin: 1px;
}

.segment-vertical {
  width: 10px;
  height: 20px;
  background-color: #ccc;
  border-radius: 3px;
  margin: 1px;
}

.segment-big-vertical {
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 3px;
  margin: 1px;
}

.segment-point {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 3px;
  margin: 1px;
}

.lit {
  background-color: #f00;
}
